@model IEnumerable<Opositae.Models.Enlace>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anteEnlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.controlador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEnviado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.claseCss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enlacePadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.situacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anteEnlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.controlador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEnviado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.claseCss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enlacePadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.situacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnlaceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnlaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnlaceId })
        </td>
    </tr>
}

</table>
